<app-navbar></app-navbar>
<!-- <mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>group</mat-icon>
  </button>
  <span>Employees Database</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="openDialog()"
  >
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</mat-toolbar> -->

<!-- <app-employee-profile [profile]="employeeProfile"></app-employee-profile> -->
<!-- <router-outlet></router-outlet> -->

<!-- table container -->
<app-table></app-table>
