<div class="container">
  <div style="margin-top: 10px">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Employee No.
          </th>
          <td mat-cell *matCellDef="let row">{{ row.employeeId }}</td>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Employee name
          </th>
          <td
            mat-cell
            matTooltip="Click to view Employee Information"
            mat-raised-button
            *matCellDef="let row"
            (click)="openProfile(row._id)"
          >
            {{ row.name }}
          </td>
        </ng-container>

        <!-- date of birth Column -->
        <ng-container matColumnDef="dateOfBirth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date Of Birth
          </th>
          <td mat-cell *matCellDef="let row">{{ row.dateOfBirth | date }}</td>
        </ng-container>

        <!-- Salary Column -->
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
          <td mat-cell *matCellDef="let row">
            {{ row.salary | currency : "INR" }}
          </td>
        </ng-container>

        <!-- Skills Column -->
        <ng-container matColumnDef="skills">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Skills</th>
          <td mat-cell *matCellDef="let row">{{ row.skills }}</td>
        </ng-container>

        <!-- Actions buttons -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="editEmployee(row)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="deleteConfirmation('0ms', '0ms', row._id)"
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <div>
        <button (click)="backPage()">Previous</button>
        <button (click)="nextPage()">Next</button>
      </div>
      <!-- Demo -->
      <!-- <ol class="pagination-container">
        <li (click)="navigateToPage(1)">First page</li>
        <li (click)="navigateToPage(index - 1)">Previous page</li> -->
      <!-- <li
          *ngFor="let page of pagination.pages; trackBy: trackByFn"
          class="pagination-number"
          [class.active]="page === pagination.index"
          (click)="navigateToPage(page)"
        >
          {{ page }}
        </li> -->
      <!-- <li (click)="navigateToPage(index + 1)">Next page</li>
        <li (click)="navigateToPage(maxPages)">Last page</li>
      </ol> -->

      <!-- ---------------- -->
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
