<mat-toolbar color="primary">
  <a
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    matTooltip="Info about the action"
    href="/"
  >
    <mat-icon>group</mat-icon>
  </a>
  <span>Employees Database</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="openDialog()"
  >
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</mat-toolbar>
